body {
  max-width: 800px;
  width: min(800px, calc(100% - 8px));
  line-height: 1.4;
  margin: auto;
  /* Sans serif font stack */
font-family: -apple-system,BlinkMacSystemFont,"Avenir Next",Avenir,"Nimbus Sans L",Roboto,Noto,"Segoe UI",Arial,Helvetica,"Helvetica Neue",sans-serif;
/* Serif font stack */
font-family: Constantia,"Lucida Bright",Lucidabright,"Lucida Serif",Lucida,"DejaVu Serif","Bitstream Vera Serif","Liberation Serif",Georgia,serif;
/* Monospace font stack */
font-family: Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;
}
